* {
    margin: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: auto;
}

.clear-fix {
    clear: both;
}

p {
    color: rgb(51, 51, 51);
}

/* Home Section */

#home .nav {
    background-color: #F5F3FF;
    border-bottom: 1px solid #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    padding: 15px 0;
}

#home .nav .logo {
    float: left;
}

#home .nav .logo .logo-img {
    padding: 7px;
    background-color: #8e51ff;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 1px;
}

#home .nav .logo img {
    width: 100%;
}

#home .nav .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    line-height: 32px;
    font-style: normal;
    padding: 8px;
    float: left;
}

#home .nav .nav-list ul {
    list-style: none;
}

#home .nav .nav-list li {
    float: right;
    padding: 15px 0 15px 0;
    overflow: hidden;
}

#home .nav .nav-list a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#home .nav .nav-list .active {
    position: relative;
    padding-right: 0;
}

#home .nav .nav-list .active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7f22fe;
    position: absolute;
    top: 37px;
    left: 0;
}

#home .nav .nav-list .active a {
    color: #7f22fe;
}

#home .nav .nav-list .not-active {
    margin-left: 35px;
    position: relative;
}

#home .nav .nav-list .not-active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7f22fe;
    position: absolute;
    top: 37px;
    right: 100%;
    transition: transform 0.3s;
}

#home .nav .nav-list .not-active a:hover {
    color: #7f22fe;
}

#home .nav .nav-list .not-active:hover::after {
    transform: translateX(100%);
}

/* Hero Section */

#home .hero-section {
    margin-top: 10%;
    height: 100vh;
    position: relative;
}

#home .hero-section .hero-img {
    width: 45%;
    padding: 15px;
    border: 2px solid #E0E3E7;
    border-radius: 15px;
    float: left;
    position: relative;
}

#home .hero-section .hero-img img {
    width: 100%;
    border-radius: 15px;
}

#home .hero-section .hero-img::after {
    content: "-12% OFF";
    width: 15%;
    height: 20px;
    padding: 3px;
    background-color: #8E51FF;
    position: absolute;
    top: 35px;
    left: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#home .hero-section .hero-data {
    float: left;
    width: 47.4%;
    margin-left: 50px;
}

#home .hero-section .product-status {
    float: left;
    color: #fff;
    width: 100%;
    margin: 20px 0;
}

#home .hero-section .product-status span {
    background-color: #A684FF;
    padding: 5px 7px;
    border-radius: 13px;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

#home .hero-section .hero-data .text h2 {
    color: rgb(51, 51, 51);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding: 10px 0;
}

#home .hero-section .hero-data .text h2 span {
    color: #8e51ff;
}

#home .hero-section .hero-data .text p {
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgb(51, 51, 51);
    padding: 10px 0;
    line-height: 33px;
}

#home .hero-section .hero-data .prices {
    padding: 20px 0;
}

#home .hero-section .hero-data .prices span {
    margin-right: 20px;
}

#home .hero-section .hero-data .prices .price {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(51, 51, 51);
    font-style: normal;
}

#home .hero-section .hero-data .prices .discount {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    text-decoration: line-through;
}

#home .hero-section .hero-data .prices .saving {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #e7000b;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFE2E2;
}

#home .hero-section .hero-data .description-of-payment {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#home .hero-section .hero-data .add-cart-button {
    width: 100%;
    padding: 13px;
    background-color: #8E51FF;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    cursor: pointer;
    border: 0px;
    transition: scale 0.3s;
    margin-top: 30px;
    /* position: relative; */
}

#home .hero-section .hero-data .add-cart-button:hover {
    scale: 1.06;
}

#home .hero-section .hero-data .add-cart-button img {
    width: 20px;
    scale: 1;
    margin-right: 10px;
    /* position: absolute;
    left: 30%;
    top: 17px; */
}

#home .hero-section .hero-data .wishlist-button {
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border-radius: 30px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid #D1D5DC;
    transition: scale 0.3s;
}

#home .hero-section .hero-data .wishlist-button:hover {
    scale: 1.06;
}

#home .hero-section .hero-data .wishlist-button img {
    width: 20px;
    scale: 1;
    margin-right: 10px;
}

#home .hero-section .hero-data .wishlist-button p {
    float: left;
    transform: translateX(155px);
    scale: 1;
}

/* specifications section */

#specifications {
    background-color: #F7F5FF;
    padding: 70px 0;
}

#specifications .title {
    text-align: center;
}

#specifications .title h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 70px 0 20px 0;
}

#specifications .title h2 span {
    color: #8E51FF;
}

#specifications .title p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 60px;
}

/* table of comparison */

#specifications .comparison {
    padding: 30px 0;
    margin: 0 0 30px 0;
    border: 2px solid #D1D5DC;
    border-radius: 15px;
    background-color: #FFFFFF;

}

#specifications .comparison .inner {
    padding: 0 15px;
}

#specifications .comparison img {
    width: 20px;
    padding-right: 8px;
}

#specifications .comparison .stars img {
    width: 20px;
    padding-right: 0px;
    padding-bottom: 3px;
}

#specifications .comparison .inner table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

#specifications .comparison .inner table::after {
    content: "";
    width: 19%;
    height: 100%;
    background-color: #7008e717;
    position: absolute;
    top: 0;
    left: 23%;
    border-radius: 15px;
}

#specifications .comparison .inner table .left-col {
    text-align: left;
    width: 23%;
}

#specifications .comparison .inner table th,
#specifications .comparison .inner table td {
    width: 19%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: rgb(51, 51, 51);
}

#specifications .comparison .inner table th {
    border-bottom: 2px solid #ddd;

}

#specifications .comparison .inner table .no-border td {
    border-bottom: none;
}

#specifications .comparison .inner table thead .left-col {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgb(51, 51, 51);
}

#specifications .comparison .inner table thead th,
#specifications .comparison .inner table .no-border .special-weight {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgb(51, 51, 51);
}

#specifications .comparison .inner table thead th span {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6a7282;
}

#specifications .comparison .inner table thead th .burble-col {
    color: #7008E7;
    display: inline-block;
}

#specifications .comparison .inner table thead th .light-font {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

#specifications .comparison .inner table tbody tr td .our-product {
    color: #fff;
    background-color: #8E51FF;
    padding: 4px 8px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
}

#specifications .comparison .inner table tbody tr .orange {
    color: #e55c00;
}

#specifications .comparison .inner table tbody tr .burble-text {
    color: #7008e7;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-style: normal;
}

#specifications .comparison .inner table img,
.hero-section img {
    transform: translateY(4px);
}

#specifications .comparison .inner table tbody tr td .special-font {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

#specifications .comparison .inner table tbody tr .diff-size {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

/* winner  */

#specifications .the-winner {
    background-color: #F7F5FF;
    padding: 50px 0;
    text-align: left;
    position: relative;
    margin: 10px 0 0 0;
    color: #00A63E;
}

#specifications .the-winner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px;
    border: 1px solid #e1e1eb;
    border-radius: 20px;
}

#specifications .the-winner .inner .trophy-img {
    width: 30px;
    float: left;
}

#specifications .the-winner .inner .trophy-img img {
    width: 100%;
    margin-top: 10px;
}

#specifications .the-winner .inner .winner-data {
    float: left;
    padding-left: 20px;
}

#specifications .the-winner .inner .winner-data h2 {
    font-size: 18px;
    font-weight: 700px;
    line-height: 28px;
    font-style: normal;
}

#specifications .the-winner .inner .winner-data p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
}

/* reviews-section  */

#reviews {
    padding: 0px 0 50px 0;
}

#reviews .title {
    text-align: center;
}

#reviews .title h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 10px 0 20px 0;
}

#reviews .title h2 span {
    color: #8E51FF;
}

#reviews .title p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 60px;
}

/* customers section */

#reviews .customers-review {
    padding: 0 0 100px 0;
}

#reviews .customers-review .overall-rate {
    float: left;
    width: 30%;
    border: 2px solid #e1e1eb;
    border-radius: 20px;
    text-align: center;
    margin-right: 30px;
    position: sticky;
    top: 60px;
}

#reviews .customers-review .overall-rate .inner {
    padding: 25px;
}

#reviews .customers-review .overall-rate .inner span {
    color: rgb(51, 51, 51);
}

#reviews .customers-review .overall-rate .inner h1 {
    font-size: 60px;
    color: rgb(51, 51, 51);
    font-style: normal;
    line-height: 60px;
    font-weight: 700;
}

#reviews .customers-review .overall-rate .inner p {
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-style: normal;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}

#reviews .customers-review .overall-rate .inner .overall-stars-rate {
    width: 60%;
    margin: auto;
}

#reviews .customers-review .overall-rate .inner .overall-stars-rate img {
    width: 30px;
}

#reviews .customers-review .overall-rate .inner .percentage {
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    width: 100%;
}

#reviews .customers-review .overall-rate .inner .percentage .space {
    padding: 20px 0;
}

#reviews .customers-review .overall-rate .inner .percentage .space span {
    float: left;
    padding-left: 20px;
}

#reviews .customers-review .overall-rate .inner .percentage .space .num {
    float: right;
    padding-right: 20px;
}

#reviews .customers-review .overall-rate .inner .percentage .shape {
    width: 55%;
    height: 10px;
    background-color: #E5E7EB;
    border-radius: 5px;
    float: left;
    margin: 5px 0 0 20px;
    position: relative;
}


#reviews .customers-review .overall-rate .inner .percentage .five-stars-percentage .shape::after {
    content: "";
    width: 78%;
    height: 10px;
    background-color: #F0B100;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 5px;
}

#reviews .customers-review .overall-rate .inner .percentage .four-stars-percentage .shape::after {
    content: "";
    width: 15%;
    height: 10px;
    background-color: #F0B100;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 5px;
}

#reviews .customers-review .overall-rate .inner .percentage .three-stars-percentage .shape::after {
    content: "";
    width: 5%;
    height: 10px;
    background-color: #F0B100;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 5px;
}

#reviews .customers-review .overall-rate .inner .percentage .two-stars-percentage .shape::after {
    content: "";
    width: 1.5%;
    height: 10px;
    background-color: #F0B100;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 5px;
}

#reviews .customers-review .overall-rate .inner .percentage .one-star-percentage .shape::after {
    content: "";
    width: 0.5%;
    height: 10px;
    background-color: #F0B100;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 5px;
}

#reviews .customers-review .overall-rate .inner .total {
    padding: 20px 30px 10px 30px;
}

#reviews .customers-review .overall-rate .inner .total h3 {
    font-size: 24px;
    color: rgb(51, 51, 51);
    font-style: normal;
    line-height: 32px;
    font-weight: 700;
}

#reviews .customers-review .overall-rate .inner .total p {
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
}

#reviews .customers-review .overall-rate .inner .total .recommend {
    float: left;
}

#reviews .customers-review .overall-rate .inner .total .rating {
    float: right;
}

#reviews .customers-review .customer {
    float: right;
    width: 65%;
    border: 2px solid #e1e1eb;
    border-radius: 20px;
    margin-bottom: 20px;
}

#reviews .customers-review .customer .inner {
    padding: 25px;
}

#reviews .customers-review .customer .inner .customer-info {
    float: left;
    width: 40%;
}

#reviews .customers-review .customer .inner .customer-info .customer-img {
    width: 25%;
    padding-right: 20px;
    float: left;
}

#reviews .customers-review .customer .inner .customer-info .customer-img img {
    width: 100%;
    border: 2px solid #e1e1eb;
    border-radius: 50%;
}

#reviews .customers-review .customer .inner .customer-info h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
}

#reviews .customers-review .customer .inner .customer-info span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

#reviews .customers-review .customer .inner .customer-info .data {
    float: left;
}

#reviews .customers-review .customer .inner .customer-info .rate img {
    width: 15px;
}

#reviews .customers-review .customer .inner .customer-info .rate span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    color: rgb(51, 51, 51);
    padding-left: 5px;
}

#reviews .customers-review .customer .inner .customer-status {
    float: right;
    text-align: right;
}

#reviews .customers-review .customer .inner .customer-status span {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    font-style: normal;
    color: #5d0ec0;
    background-color: #EDE9FE;
}

#reviews .customers-review .customer .inner .customer-status p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    color: rgb(51, 51, 51);
    padding: 10px 5px;
}

#reviews .customers-review .customer .inner p {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    font-style: normal;
    color: rgb(51, 51, 51);
}

/* button  */

#reviews .customers-review .morebutton {
    width: 65%;
    padding: 25px 0;
    text-align: center;
    float: right;
}

#reviews .customers-review .morebutton button {
    color: #fff;
    background-color: #7F22FE;
    width: 30%;
    margin: auto;
    border-radius: 30px;
    padding: 15px 0;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 50px;
    transition: background-color 0.3s;
}

#reviews .customers-review .morebutton button:hover {
    border: #7F22FE 2px solid;
    background-color: #fff;
    color: #7F22FE;
    cursor: pointer;
}

/* products section  */

#products {
    padding: 70px 0;
    background-color: #F7F5FF;
}

#products .title {
    text-align: center;
    margin-bottom: 20px;
}

#products .title h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 70px 0 20px 0;
}

#products .title h2 span {
    color: #8E51FF;
}

#products .title p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 20px;
}

/* item  */

#products .items {
    overflow: hidden;
}

#products .item {
    text-align: left;
    width: calc((100% - 228px) / 4);
    float: left;
    border: 1px solid #6a72827a;
    border-radius: 15px;
    padding: 20px;
}

#products .items .i1 {
    position: relative;
}

#products .items .i2 {
    margin: 0 20px;
    position: relative;
}

#products .items .i3 {
    margin: 0 20px 0 0;
    position: relative;
}

#products .items .i4 {
    position: relative;
}


#products .items .i1::after {
    content: "Accessory";
    /* width: 27%; */
    height: 15px;
    background-color: #00BBA7;
    color: #FFFFFF;
    position: absolute;
    top: 7%;
    left: 10%;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
}

#products .items .i2::after {
    content: "Essential";
    /* width: 27%; */
    height: 15px;
    background-color: #00C951;
    color: #FFFFFF;
    position: absolute;
    top: 7%;
    left: 10%;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    padding: 7px;
}

#products .items .i3::after {
    content: "Power";
    /* width: 27%; */
    height: 15px;
    background-color: #00B8DB;
    color: #FFFFFF;
    position: absolute;
    top: 7%;
    left: 10%;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    padding: 7px;
}

#products .items .i4::after {
    content: "Safety";
    /* width: 27%; */
    height: 15px;
    background-color: #FF6900;
    color: #FFFFFF;
    position: absolute;
    top: 7%;
    left: 10%;
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    padding: 7px;
}

#products .items .item .inner .item-img {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

#products .items .item .inner .item-img img {
    width: 100%;
    border-radius: 15px;
    transform: scale(1);
    transition: transform 0.3s;
}

#products .items .item:hover .inner .item-img img {
    transform: scale(1.06);
}


#products .items .item .inner span {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: rgb(51, 51, 51);
    padding: 30px 0;
}

#products .items .item .inner p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgb(51, 51, 51);
    padding: 20px 0;
}

#products .items .item .inner .price-and-button span {
    float: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 30%;
    padding: 10px 0;
}

#products .items .item .inner .price-and-button button {
    background-color: #8E51FF;
    float: right;
    width: 50%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

#products .all-access-button {
    padding: 50px;
    text-align: center;
}

#products .all-access-button button {
    padding: 20px 50px;
    border-radius: 30px;
    background-color: #fff;
    color: #7F22FE;
    border: #7F22FE 2px solid;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 30px;
    transition: background-color 0.3s;
}

#products .all-access-button button:hover {
    border: 0px;
    color: #fff;
    background-color: #7F22FE;
    cursor: pointer;
}

/* footer  */

#footer {
    background-color: #101828;
    padding: 30px;
    text-align: left;
}

#footer .company-data {
    padding: 10px;
    float: left;
    width: 25%;
}

#footer .company-data .logo-title {
    margin-top: 22px;
}

#footer .company-data .logo-title img {
    width: 30px;
    margin: 0 10px 0 0;
    float: left;
    background-color: #7F22FE;
    padding: 5px;
    border-radius: 10px;
}

#footer .company-data .logo-title span {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 5px;
    float: left;
}

#footer .company-data p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0;
    color: #FFFFFF;
}

#footer .company-data .important-links .icon1:hover {
    background-color: #1877F2;
    cursor: pointer;
}

#footer .company-data .important-links .icon2:hover {
    background-color: #1DA1F2;
    cursor: pointer;
}

#footer .company-data .important-links .icon3:hover {
    background-color: #E4405F;
    cursor: pointer;
}

#footer .company-data .important-links .icon4:hover {
    background-color: #FF0000;
    cursor: pointer;
}

#footer .company-data .important-links img {
    width: 8%;
    padding: 10px;
    background-color: #1E2939;
    border-radius: 15px;
    margin: 10px 10px 10px 0;
    transition: background-color 0.4s;
}

#footer .links {
    padding: 10px;
    width: 22%;
    float: left;
}

#footer .links span {
    display: block;
    padding: 20px 20px 20px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: white;
}

#footer .links a {
    text-decoration: none;
    display: block;
    padding: 2px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #57729b9a;
}

#footer .links a:hover {
    cursor: pointer;
    color: white;
}

#footer hr {
    height: 0.5px;
    background-color: #cccccc41;
    border: none;
    margin: 10px 0 20px 0;
}

#footer .rights {
    padding: 20px;
}

#footer .rights p {
    float: left;
    color: white;
}

#footer .rights .pay {
    float: right;
}

#footer .rights .pay1,
#footer .rights .pay2,
#footer .rights .pay3 {
    width: 80px;
    padding: 10px;
    height: 20px;
    background-color: white;
    float: left;
    border-radius: 8px;
    margin-left: 10px;
    transform: translateY(-15px);
}

#footer .rights .pay3 {
    margin-right: 0;
}

#footer .rights .pay1 img,
#footer .rights .pay2 img,
#footer .rights .pay3 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}